<section class="experience-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="heading">
          <h3><b>Work Experience</b></h3>
          <h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
        </div>
      </div><!-- col-sm-4 -->
      <div class="col-lg-8 col-md-12 col-sm-12">

        <!-- SMAR Investments 1, LLC -->
        <div class="experience margin-b-50">
          <h4><b>SMAR Investments 1, LLC</b></h4>
          <h5 class="font-yellow"><b>Full Stack JavaScript Developer - Manager</b></h5>
          <h6 class="margin-t-10">April 2022 - Present</h6>
          <p class="font-semi-white margin-tb-30">
            Actively working to co-manage a small real estate investment business, maintain and implement new features on the primary business frontend desktop application built with React.js/Redux, Redux Saga, Hooks, Bootstrap, REST APIs. Backend developed with Node.js/Express using MongoDB and MongoDB Cloud Atlas.
          </p>

          <ul class="list margin-b-30">
            <li>
              Communicated weekly via Google Meet for collaboration with stakeholders on design, data, presentation, and feature development.
            </li>
            <li>
              Developed modern frontend components in React.js utilizing Bootstrap and leveraging Redux for state management and Redux Saga for handling side effects in both SMAR's desktop frontend and backoffice admin area.
            </li>
            <li>
              Implemented and maintained RESTful APIs in the Node.js/Express backend, maintaining models, routing, and controllers.
            </li>
            <li>
              Further responsibilities included co-managing the LLC’s properties in Oregon and Florida. Duties involved tenant management, work and onsite repair coordination, travel planning and coordination, advertising, maintenance operations, taxes and insurance preparation, expense report generation, budgeting, and funds management.
            </li>
          </ul>

          <ul class="list margin-b-30">
            <li>Languages: JavaScript/ES6+/TypeScript</li>
            <li>Web Technologies: ReactJS/Redux, REST APIs, Bootstrap, Node.js/Express</li>
            <li>Databases: MongoDB</li>
            <li>Code Versioning: Git</li>
          </ul>
        </div><!-- experience -->

        <!-- NorthOne -->
        <div class="experience margin-b-50">
          <h4><b>NorthOne</b></h4>
          <h5 class="font-yellow"><b>Full Stack JavaScript Developer</b></h5>
          <h6 class="margin-t-10">March 2021 - March 2022</h6>
          <p class="font-semi-white margin-tb-30">
            Responsible for maintaining and implementing new features on two different frontend applications built with ReactJS/React Native, GraphQL APIs, and microservices using Serverless Framework and AWS. Primary 2021 work was in developing banking solutions for outgoing wire transfers, mobile check deposits via 3rd party React Native SDK integration, and refactoring existing feature areas in web banking and mobile application frontends.
          </p>

          <ul class="list margin-b-30">
            <li>
              Worked on a remotely distributed agile team utilizing Scrum to deliver content in 2-week sprint cadences
            </li>
            <li>
              Communicated daily via Slack and Google Meet for standups, backlog refinement, sprint retros, and feature planning meetings
            </li>
            <li>
              Collaborated closely with product and design teams where requirements and solutions evolved iteratively
            </li>
            <li>
              Developed modern frontend components in ReactJS for NorthOne’s web banking and mobile application frontends
            </li>
            <li>
              Highlighted and led efforts to reduce tech debt in frontends, established consistent patterns for cross-team development, led efforts to establish clear responsibility boundaries in using Redux combined with the Apollo Client hooks throughout the applications, and handling async side-effects
            </li>
            <li>
              Designed microservices using Serverless Framework deployed in AWS using various infrastructure services as required
            </li>
          </ul>

          <ul class="list margin-b-30">
            <li>Languages: JavaScript/ES6+/TypeScript</li>
            <li>Web Technologies: ReactJS/Redux, Apollo Client/GQL, Storybook, AWS, Serverless Framework</li>
            <li>Databases: DynamoDB, Elasticsearch, Redis</li>
            <li>DevOps and Cloud: AWS</li>
            <li>Workflow: Jira, Figma (design), Bitbucket</li>
            <li>Code Versioning: Git</li>
            <li>SW Development Methods: Agile/Scrum</li>
          </ul>
        </div><!-- experience -->

        <!-- AZLO -->
        <div class="experience margin-b-50">
          <h4><b>Azlo</b></h4>
          <h5 class="font-yellow"><b>Full Stack JavaScript Developer</b></h5>
          <h6 class="margin-t-10">April 2019 - January 2021 (1yr, 8mo)</h6>
          <p class="font-semi-white margin-tb-30">
            Responsible for maintaining and implementing new features on three different frontend applications built with Angular. Primary 2020 work was in implementing a newly designed onboarding frontend in an Nx mono repo with the Angular 9/10, NgRX and RxJS. Responsible for analyzing, modeling, designing and creating REST APIs for several internal services that composed a distributed microservices architecture where each service was independent but created a shared ecosystem.
          </p>

          <ul class="list margin-b-30">
            <li>
              Worked on a remotely distributed agile team utilizing Scrum to deliver content in 2-week sprint cadences
            </li>
            <li>
              Communicated daily via Slack and Zoom for standups, backlog refinement, sprint retros, and feature planning meetings
            </li>
            <li>
              Collaborated closely with product and design teams where requirements and solutions evolved iteratively
            </li>
            <li>
              Developed modern frontend components in Angular for Azlo onboarding frontend, backoffice, and marketing site
            </li>
            <li>
              Re-architected old onboarding frontend using Nx mono repo tool, Angular 9/10, and NgRX/RxJS for working with state
            </li>
            <li>
              Participated in A/B and multivariate testing driven by Optimizely
            </li>
            <li>
              Implemented unit tests with Mocha (Chai/Nock), Jasmine/Karma; E2E tests with Cypress and Cucumber
            </li>
            <li>
              Designed RESTful APIs in Node.js with Restify for working with MongoDB collections 
            </li>
            <li>
              Maintained and monitored backend services for onboarding, auth, customers, assets, notifications, backoffice, and 2FA
            </li>
            <li>
              Triaged customer onboarding banking issues weekly
            </li>
          </ul>

          <ul class="list margin-b-30">
            <li>Languages: JavaScript/ES6+/TypeScript</li>
            <li>Web Technologies: Angular 9/10, Nx (mono repo), NgRX/RxJS, Material UI/SCSS, Tailwind CSS, Node.js, Restify</li>
            <li>Databases: MongoDB, Elasticsearch, Redis</li>
            <li>DevOps and Cloud: AWS, Docker, Kubernetes</li>
            <li>Workflow: Jira, Figma (design), GitLab</li>
            <li>Code Versioning: Git</li>
            <li>Testing: Mocha (Chai/Nock), Karma/Jasmine, Cypress/Cucumber</li>
            <li>SW Development Methods: Agile/Scrum</li>
          </ul>
        </div><!-- experience -->


        <div class="experience margin-b-50">
          <h4><b>Freelance / Self Employed</b></h4>
          <h5 class="font-yellow"><b>Full Stack JavaScript Developer</b></h5>
          <h6 class="margin-t-10">January 2018 - Present</h6>
          <p class="font-semi-white margin-tb-30">
              Designing and developing modern, scalable web applications for local businesses with little to no web presence using MEAN/MERN stacks.
          </p>

          <ul class="list margin-b-30">
            <li>
              Develop user-friendly architectures by using SPAs or programming site navigation, providing social media links/widgets, and organizing site content
            </li>
            <li>
              Utilize HTML, Bootstrap, and SASS/SCSS CSS pre-compilers to create buildable components in Angular/React
            </li>
            <li>
              Utilize the RxJS/Redux Flux libraries to aide with consistent state management
            </li>
            <li>
              Design RESTful APIs for performing database operations with NoSQL or RDBMs depending on requirements
            </li>
            <li>
              Utilize NPM, Babel and webpack for consistent bundling of required packages and code
            </li>
            <li>
              Validate site with unit tests utilizing Mocha (with Chai/Nock), Jasmine/Karma, Jest/Enzyme
            </li>
            <li>
              Design database solutions using cloud storage with mLab or AWS
            </li>
            <li>
              Drive performance improvements using Google Page Speed resources
            </li>
            <li>
              Collaborate with clients to generate web content to meet their needs
            </li>
          </ul>

          <ul class="list margin-b-30">
            <li>Languages: JavaScript/TypeScript/Go</li>
            <li>Web Technologies: Angular 2+, React.js/JSX, Node.js, Express.js, Bootstrap 4, SASS/SCSS</li>
            <li>Databases: MongoDB, Elasticsearch, Redis, DynamoDB, MySQL</li>
            <li>DevOps and Cloud: AWS, Heroku, mLab</li>
            <li>Workflow: Webpack, NPM/Node.js</li>
            <li>Code Versioning: Git</li>
          </ul>
        </div><!-- experience -->

        <div class="experience margin-b-50">
          <h4><b>McAfee</b></h4>
          <h5 class="font-yellow"><b>Software Engineer</b></h5>
          <h6 class="margin-t-10">January 2017 - March 2018</h6>
          <p class="font-semi-white margin-tb-30">
            Worked onsite and remotely on security products using JavaScript, Angular 2+, Python, Flask, SQL, AWS,
            Selenium, and Gherkin/Behave frameworks.
          </p>

          <ul class="list margin-b-30">
            <li>
              Assisted with DXL 4.0/4.1 feature development, deployment overhaul, and moving machine infrastructure and development/testing into AWS. The McAfee ePO was to run in an Elastic Compute Cloud server using EC2/VPC/RDS. DXL used CloudFormation service for deployment using JSON scripts; Used a template for OpenDXL broker environment. Brokers were to run in Docker containers. DXL ePO pages being rewritten in Angular.
            </li>
            <li>
              AWS Services: EC2, S3, RDS, DynamoDB, CloudFormation (templates for brokers), VPC, Elastic Load Balancer
            </li>
            <li>
              Provided architecture definition, enhancement, supporting software test automation, tools and testing strategies for the Data Exchange Layer DXL product used by Intel Security, partners, and the security industry to share real-time security context between different security products on systems, tablets and smart phones.
            </li>
            <li>
              Designed robust, reliable and repeatable processes to find issues early and enable continuous product delivery.
            </li>
            <li>
              Provided collaboration on testing processes, tools and strategies, building lasting test designs and partnering in the design of product components.
            </li>
            <li>
              Utilized experience in cloud, continuous deployment, and large scale networks to engineer solutions for complex business challenges with the goal of producing high quality, ready-to-ship products as quickly and efficiently as possible.
            </li>
          </ul>

          <ul class="list margin-b-30">
            <li>Languages: JavaScript, Python</li>
            <li>Web Technologies: HTML, CSS, SASS/SCSS</li>
            <li>Databases: SQL</li>
            <li>DevOps: CI/CD with TeamCity, Jenkins, Docker, and AWS (EC2, S3, RDS, DynamoDB, CloudFormation, VPC)</li>
            <li>Operating Systems: Windows (most versions via hypervisor), Linux (RedHat, Debian, CentOS 6/7)</li>
            <li>Code Versioning: Subversion</li>
            <li>SW Development Methods: Agile/Scrum</li>
            <li>Agile Delivery Tracking Tools: Jira, VersionOne</li>
          </ul>
        </div><!-- experience -->

        <div class="experience margin-b-50">
          <h4><b>Intel</b></h4>
          <h5 class="font-yellow"><b>Software Engineer</b></h5>
          <h6 class="margin-t-10">January 2011 - December, 2016</h6>
          <p class="font-semi-white margin-tb-30">
            Worked onsite and remotely on numerous projects using AngularJS, JavaScript/TypeScript, Python, Flask,
            SQLite, Gherkin/Behave frameworks, and other charting and data analysis tools. Worked as a developer and
            team lead.
          </p>

          <ul class="list margin-b-30">
            <li>
              Worked within Client Systems and Software (formerly PCCG), Client DevOps Deployment and Deliver team with focus of designing/delivering high quality software tools/utilities for immediate use in platform metric gathering, testing and analytics.
            </li>
          </ul>

          <ul class="list margin-b-30">
            <li>Languages: JavaScript, Python</li>
            <li>Web Technologies: HTML, CSS3</li>
            <li>Databases: SQLite</li>
            <li>DevOps: CI/CD with TeamCity, Behave/Gherkin</li>
            <li>Operating Systems: Windows 7/8/8.1/10</li>
            <li>Code Versioning: Git/Gerrit, Perforce</li>
            <li>SW Development Methods: Agile/Scrum</li>
            <li>Agile Delivery Tracking Tools: Jira, Jama Contour</li>
          </ul>
        </div><!-- experience -->


        <div class="experience margin-b-50">
          <h4><b>Syncapse</b></h4>
          <h5 class="font-yellow"><b>Full Stack Java Developer</b></h5>
          <h6 class="margin-t-10">August 2010 - January, 2011</h6>
          <p class="font-semi-white margin-tb-30">
              Worked onsite as a full stack Java developer focused on creating customizations of the Jive SBS platform for fortune 1000 companies.
          </p>

          <ul class="list margin-b-30">
            <li>
              Designed web applications utilizing HTML/XHTML, CSS, JavaScript/jQuery/AJAX, XML, PostgreSQL, Struts 2, Spring, Freemarker, Apache Web Server and Maven build tools. Engaged in various roles including developer, QA and UI design. Client list included companies such as AllScripts and Research in Motion.
            </li>
          </ul>

          <ul class="list margin-b-30">
            <li>Languages: Java, JavaScript</li>
            <li>Web Technologies: HTML, CSS3, jQuery, Freemarker, AJAX, Struts 2, Spring</li>
            <li>Databases: PostgreSQL</li>
            <li>Code Versioning: Subversion</li>
            <li>Workflow: Maven</li>
          </ul>
        </div><!-- experience -->

        <div class="experience margin-b-50">
          <h4><b>Freelance / Self Employed</b></h4>
          <h5 class="font-yellow"><b>Full Stack PHP Developer</b></h5>
          <h6 class="margin-t-10">January 2008 - June, 2010</h6>
          <p class="font-semi-white margin-tb-30">
              Designed and developed web applications for local businesses with little to no web presence using the LAMP stack. (PHP, JavaScript/jQuery,Apache, HTML5, CSS3 and MySQL)
          </p>
          <ul class="list margin-b-30">
            <li>Languages: JavaScript, PHP5</li>
            <li>Web Technologies: HTML, CSS3, AJAX, Apache</li>
            <li>Databases: MySQL</li>
            <li>Code Versioning: Subversion</li>
          </ul>
        </div><!-- experience -->

      </div><!-- col-sm-8 -->
    </div><!-- row -->
  </div><!-- container -->

</section><!-- experience-section -->