

#webapp-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: #1a1a1a;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 75px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  @media screen and (max-width: 768px) {
    #webapp-offcanvas {
      display: block;
    }
  }
  .offcanvas #webapp-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  #webapp-offcanvas a {
    color: rgba(255, 255, 255, 0.5);
  }
  #webapp-offcanvas a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #webapp-offcanvas ul {
    padding: 0;
    margin: 0;
  }
  #webapp-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #webapp-offcanvas ul li > ul {
    padding-left: 20px;
    display: none;
  }
  #webapp-offcanvas ul li.offcanvas-has-dropdown > a {
    display: block;
    position: relative;
  }
  #webapp-offcanvas ul li.offcanvas-has-dropdown > a:after {
    position: absolute;
    right: 0px;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e0c5";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #webapp-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  #webapp-offcanvas ul li.btn-cta {
    margin-top: 5px;
  }
  #webapp-offcanvas ul li.btn-cta a {
    border-bottom: 1px solid #4aca85;
    padding-bottom: 5px;
  }
  