
.work-grid {
    margin-bottom: 40px;
  }
  .work-grid .work-img {
    display: block;
    height: 270px;
    position: relative;
  }
  .work-grid .work-img .icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 270px;
    content: "";
    display: table;
    text-align: center;
    background: #4aca85;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .work-grid .work-img .icon i {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
  }
  .work-grid .work-img:hover .icon,
  .work-grid .work-img:focus .icon {
    opacity: 1;
  }
  .work-grid .desc {
    background: #fff;
    padding: 25px;
  }
  .work-grid .desc h2 {
    font-size: 24px;
  }
  .work-grid .desc h2 a {
    color: #303133;
  }
  .work-grid .desc h2 a:hover {
    color: #4aca85;
  }
  