@media screen and (max-width: 1000px) {
    .modal-lg {
        /* max-width: 70% !important; */
        max-width: 100% !important;
    }
}

@media screen and (max-width: 350px) {
    .modal-lg {
        max-width: 100% !important;
    }
}


.modal-open {
    padding-right: 0px !important;
}

/*
.modal {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 500px;
    max-width: 600px;
    min-width: 300px;
    position: fixed;
    right: 0;
    top: 0;
  }
*/

/*
@media screen and (max-width: 1000px) {
    .jumbotron {
       background-image:url('http://www.part-box.com/images/yellow-frog.png');
        height: 200px; // customize it
        background-repeat: no-repeat;
        background-size: cover;
          }
}

@media screen and (max-width: 300px) {
    .jumbotron {
       background-image:url('http://www.part-box.com/images/yellow-frog.png');
        height: 500px; //customize it
        background-repeat: no-repeat;
        background-size: cover;
          }
}
*/