<section class="portfolio-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="heading">
          <h3><b>Current/Recent Project Work</b></h3>
          <h6 class="font-lite-black">
            <b
              >MOST SMALLER PROJECTS ARE ON
              <a href="https://github.com/79sphelps" style="color: #006699;"
                >GITHUB</a
              ></b
            >
          </h6>
        </div>
      </div>
      <!-- col-sm-4 -->
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="portfolioFilter clearfix margin-b-80">
          <a href="#" data-filter="*" class="current"><b>ALL</b></a>
          <a href="#" data-filter=".web-design"><b>WEB DESIGN</b></a>
          <a href="#" data-filter=".branding"><b>BRANDING</b></a>
          <!-- <a href="#" data-filter=".graphic-design"><b>GRAPHIC DESIGN</b></a> -->
        </div>
        <!-- portfolioFilter -->
      </div>
      <!-- col-sm-8 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->

  <div class="portfolioContainer">
    <div class="p-item web-design">
      <button class="btn-primary">
        <img
          src="../../assets/images/event-planning-nw-1-p1.png"
          data-toggle="modal"
          data-target="#event-planning-nw-1"
        />
      </button>
    </div>

    <div class="p-item branding graphic-design">
      <button class="btn-primary">
        <img
          src="../../assets/images/all-about-hair-p1.png"
          data-toggle="modal"
          data-target="#all-about-hair"
        />
      </button>
    </div>

    <div class="p-item web-design">
      <button class="btn-primary">
        <img
          src="../../assets/images/event-planning-nw-2-p1.png"
          data-toggle="modal"
          data-target="#event-planning-nw-2"
        />
      </button>
    </div>

    <div class="p-item web-design">
      <button class="btn-primary">
        <img
          src="../../assets/images/real-estate-site-home.png"
          data-toggle="modal"
          data-target="#real-estate-site"
        />
      </button>
    </div>

    <div class="p-item branding graphic-design">
      <button class="btn-primary">
        <img
          src="../../assets/images/all-about-hair-react-1-min.png"
          data-toggle="modal"
          data-target="#all-about-hair-react"
        />
      </button>
    </div>

    <!--
    <div class="p-item branding graphic-design">
      <a href="/all-about-hair" routerLink="/all-about-hair" data-fluidbox>
        <img src="../../assets/images/all-about-hair.png" alt="all-about-hair.herokuapps.com"></a>
    </div>

    <div class="p-item web-design">
      <a href="/event-planning-nw-2" routerLink="/event-planning-nw-2" data-fluidbox>
        <img src="../../assets/images/event-planning-nw-2.png" alt=""></a>
    </div>
    -->

    <!-- Button to Open the Modal -->
    <!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Open modal
    </button>
    -->
  </div>

  <!--
  <div class="portfolioContainer">
    <div class="p-item web-design">
      <a href="images/portfolio-1-600x400.jpg" data-fluidbox>
        <img src="images/portfolio-1-600x400.jpg" alt=""></a>
    </div>

    <div class="p-item branding graphic-design">
      <a href="images/portfolio-7-600x800.jpg" data-fluidbox>
        <img src="images/portfolio-7-600x800.jpg" alt=""></a>
    </div>

    <div class="p-item web-design">
      <a href="images/portfolio-2-600x400.jpg" data-fluidbox>
        <img src="images/portfolio-2-600x400.jpg" alt=""></a>
    </div>

    <div class="p-item p-item-2 graphic-design">
      <a class="img" href="images/portfolio-8-300x400.jpg" data-fluidbox>
        <img src="images/portfolio-8-300x400.jpg" alt=""></a>
      <a class="img" href="images/portfolio-9-300x400.jpg" data-fluidbox>
        <img src="images/portfolio-9-300x400.jpg" alt=""></a>
    </div>

    <div class="p-item branding graphic-design">
      <a href="images/portfolio-3-600x400.jpg" data-fluidbox>
        <img src="images/portfolio-3-600x400.jpg" alt=""></a>
    </div>

    <div class="p-item graphic-design web-design">
      <a href="images/portfolio-4-600x400.jpg" data-fluidbox>
        <img src="images/portfolio-4-600x400.jpg" alt=""></a>
    </div>

    <div class="p-item  graphic-design branding">
      <a href="images/portfolio-5-600x800.jpg" data-fluidbox>
        <img src="images/portfolio-5-600x800.jpg" alt=""></a>
    </div>

    <div class="p-item web-design branding">
      <a href="images/portfolio-6-600x800.jpg" data-fluidbox>
        <img src="images/portfolio-6-600x800.jpg" alt=""></a>
    </div>

    <div class="p-item p-item-2 graphic-design">
      <a class="img" href="images/portfolio-10-300x400.jpg" data-fluidbox>
        <img src="images/portfolio-10-300x400.jpg" alt=""></a>
      <a class="img" href="images/portfolio-11-300x400.jpg" data-fluidbox>
        <img src="images/portfolio-11-300x400.jpg" alt=""></a>
    </div>
  </div>
  -->
  <!-- portfolioContainer -->
</section>
<!-- portfolio-section -->

<!-- The Modal - Event Planning NW -->
<div class="modal fade" id="event-planning-nw-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Event Planning NW</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div
        id="event-planning-nw-1-carousel"
        class="carousel slide"
        data-ride="carousel"
      >
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li
            data-target="#event-planning-nw-1-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            data-target="#event-planning-nw-1-carousel"
            data-slide-to="1"
          ></li>
          <li
            data-target="#event-planning-nw-1-carousel"
            data-slide-to="2"
          ></li>
          <li
            data-target="#event-planning-nw-1-carousel"
            data-slide-to="3"
          ></li>
          <li
            data-target="#event-planning-nw-1-carousel"
            data-slide-to="4"
          ></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <img
              src="../../assets/images/event-planning-nw-1-p1.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-1-p2.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-1-p3.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-1-p4.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-1-p5.png"
              class="img-responsive"
            />
          </div>
        </div>

        <!-- Left and right controls -->
        <a
          class="carousel-control-prev"
          href="#event-planning-nw-1-carousel"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#event-planning-nw-1-carousel"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        This was a mock up SPA project using the MEAN stack. The project was the
        initial design for a local event planning entrepeneur but work on it
        stopped in order to perform a redesign later on. It was built with
        Angular 5 using Bootstrap 4. Getting to know more Bootstrap 4 features
        was one of the primary goals. It includes APIs for authorized CRUD
        operations, authentication and access management with automatic JWT
        renewal (via OAuth), and simple/complex forms with custom validation.
        More attention was paid to the back-end administrative side with most
        data hosted in MongoDB document stores hosted by mLab. This mock project
        is no longer maintained but kept for reference only.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <!--
        <button class="btn btn-success mr-20 mb-20" type="button">
          <a href="https://event-planning-nw.herokuapp.com/">Go to Site</a>
        </button>
        -->
      </div>
    </div>
  </div>
</div>

<!-- The Modal - All About Hair -->
<div class="modal fade" id="all-about-hair">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">All About Hair</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div
        id="all-about-hair-carousel"
        class="carousel slide"
        data-ride="carousel"
      >
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li
            data-target="#all-about-hair-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="1"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="2"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="3"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="4"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="5"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="6"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="7"></li>

          <li data-target="#all-about-hair-carousel" data-slide-to="8"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="9"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="10"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="11"></li>
          <li data-target="#all-about-hair-carousel" data-slide-to="12"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/images/all-about-hair-p1.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p1a.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p2.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p3.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p3a.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p4.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p5.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p6.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p6a.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p6b.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p6c.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-p7.png"
              class="img-responsive"
            />
          </div>
        </div>

        <!-- Left and right controls -->
        <a
          class="carousel-control-prev"
          href="#all-about-hair-carousel"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#all-about-hair-carousel"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        This project is a WIP. It is a custom hair salon site for a business in
        Happy Valley. It is a SPA and was built with MEAN stack using Bootstrap
        4. It includes APIs for authorized CRUD operations, authentication and
        access management with automatic JWT renewal (via OAuth), and
        simple/complex forms with custom validation. It interfaces with Auth0
        for 3rd party authorization and authentication. It includes client-side
        and server-side tests and makes use of the Chai and Nock libraries for
        mocking HTTP requests. Additional client-side and server-side tests are
        WIP. The site also integrates Google Calendar APIs and analytics.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button class="btn btn-success mr-20 mb-20" type="button">
          <a href="https://all-about-hair.onrender.com">Go to Site</a>
        </button>
      </div>

      <!-- <h4 style="padding-left: 20px;">Unit Testing: WIP</h4>
      <video height="500" controls>
        <source src="assets/images/Recording_2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video> -->
    </div>
  </div>
</div>

<!-- The Modal - All About Hair -->
<div class="modal fade" id="all-about-hair-react">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">All About Hair - React</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div
        id="all-about-hair-react-carousel"
        class="carousel slide"
        data-ride="carousel"
      >
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li
            data-target="#all-about-hair-react-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="1"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="2"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="3"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="4"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="5"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="6"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="7"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="8"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="9"></li>
          <li data-target="#all-about-hair-react-carousel" data-slide-to="10"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/images/all-about-hair-react-1-min.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-2-min.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-3-min.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-4-min.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-5-min.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-6-min.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-7-min.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-8-min.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-9-min.png"
              class="img-responsive"
            />
          </div>

          <div class="carousel-item">
            <img
              src="../../assets/images/all-about-hair-react-10-min.png"
              class="img-responsive"
            />
          </div>
        </div>

        <!-- Left and right controls -->
        <a
          class="carousel-control-prev"
          href="#all-about-hair-react-carousel"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#all-about-hair-react-carousel"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        This project is the React version of the Angular site. It is still a WIP.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button class="btn btn-success mr-20 mb-20" type="button">
          <a href="https://all-about-hair-react.onrender.com">Go to Site</a>
        </button>
      </div>

      <!-- <h4 style="padding-left: 20px;">Unit Testing: WIP</h4>
      <video height="500" controls>
        <source src="assets/images/Recording_2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video> -->
    </div>
  </div>
</div>


<!-- The Modal - Event Planning NW 2 -->
<div class="modal fade" id="event-planning-nw-2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Event Planning NW (redesign)</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div
        id="event-planning-nw-2-carousel"
        class="carousel slide"
        data-ride="carousel"
      >
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li
            data-target="#event-planning-nw-2-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            data-target="#event-planning-nw-2-carousel"
            data-slide-to="1"
          ></li>
          <li
            data-target="#event-planning-nw-2-carousel"
            data-slide-to="2"
          ></li>
          <li
            data-target="#event-planning-nw-2-carousel"
            data-slide-to="3"
          ></li>
          <li
            data-target="#event-planning-nw-2-carousel"
            data-slide-to="4"
          ></li>
          <li
            data-target="#event-planning-nw-2-carousel"
            data-slide-to="5"
          ></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/images/event-planning-nw-2-p1.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-2-p2.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-2-p3.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-2-p4.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-2-p5.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/event-planning-nw-2-p6.png"
              class="img-responsive"
            />
          </div>
        </div>

        <!-- Left and right controls -->
        <a
          class="carousel-control-prev"
          href="#event-planning-nw-2-carousel"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#event-planning-nw-2-carousel"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        This is an event planning site for a business in Happy Valley and is
        still WIP. It was built with MEAN stack using Bootstrap 4. It includes
        APIs for authorized CRUD operations, authentication and access
        management with automatic JWT renewal (via OAuth), and simple/complex
        forms with custom validation. Angular routing is used for navigation.
        There was more effort put into using various component styles in this
        project: sliders, carousels, animations, and general Bootstrap 4 grid
        usage. Responsive design was/is employed throughout the project. This
        site is still a work in progress.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button class="btn btn-success mr-20 mb-20" type="button">
          <a href="https://event-planning-nw-2.herokuapp.com/">Go to Site</a>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- The Modal - Real Estate Site -->
<div class="modal fade" id="real-estate-site">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Real Estate Site</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div
        id="real-estate-site-carousel"
        class="carousel slide"
        data-ride="carousel"
      >
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li
            data-target="#real-estate-site-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            data-target="#real-estate-site-carousel"
            data-slide-to="1"
          ></li>
          <li
            data-target="#real-estate-site-carousel"
            data-slide-to="2"
          ></li>
          <li
            data-target="#real-estate-site-carousel"
            data-slide-to="3"
          ></li>
          <li
            data-target="#real-estate-site-carousel"
            data-slide-to="4"
          ></li>
          <li
            data-target="#ereal-estate-site-carousel"
            data-slide-to="5"
          ></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/images/real-estate-site-home.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/real-estate-site-listings.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/real-estate-site-my-featured-listings.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/real-estate-site-property.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/real-estate-site-update-property1.png"
              class="img-responsive"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/images/real-estate-site-update-property.png"
              class="img-responsive"
            />
          </div>
        </div>

        <!-- Left and right controls -->
        <a
          class="carousel-control-prev"
          href="#real-estate-site-carousel"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#real-estate-site-carousel"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        This is an individual real estate broker site for a broker in Lake Oswego and is
        still WIP. This is the front end application built using older style React and Redux for state management. It uses the redux-saga library to make and handle asynchronous calls to the back end. The app leverages the react-bootstrap library for UI. The app includes APIs for authorized CRUD operations, authentication and access management (via OAuth), and simple/complex forms with custom validation. It uses the compound component pattern and the Styled Components library to style the components.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button class="btn btn-success mr-20 mb-20" type="button">
          <a href="https://real-estate-rentals-frontend.onrender.com">Go to Site</a>
        </button>
      </div>
    </div>
  </div>
</div>
