
  <section class="intro-section" >


    <div class="container">
        <div class="row">
          <div class="col-md-1 col-lg-2"></div>
          <div class="col-md-10 col-lg-8">
            <div class="intro">
              <div class="profile-img">
                <img
                  src="../../assets/images/myself_photo3.jpg"
                  style="background-color: #dddddd;"
                  alt=""
                />
              </div>
              <h2><b>Steve Phelps</b></h2>
              <h4 class="font-yellow">Full Stack JavaScript Developer</h4>
              <ul class="information margin-tb-30">
                <li><b>PHONE: </b>503-462-2135</li>
                <li><b>EMAIL: </b>79sphelps@gmail.com</li>
                <li><b>CITY: </b>Happy Valley</li>
                <li><b>STATE: </b>Oregon</li>
              </ul>
              <ul class="social-icons">
                <li>
                  <a href="https://www.linkedin.com/in/steve-phelps-1614192b/"
                    ><i class="ion-social-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a href="https://github.com/79sphelps"
                    ><i class="ion-social-github"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

  </section>


<!--
<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-8">
        <div class="intro">
          <div class="profile-img">
            <img src="../../assets/images/avatar4.png" style="background-color: #dddddd;" alt="">
          </div>
          <h2><b>Steve Phelps</b></h2>
          <h4 class="font-yellow">Full Stack JavaScript Developer</h4>
          <ul class="information margin-tb-30">
            <li><b>PHONE : </b>503-462-2135</li>
            <li><b>EMAIL : </b>79sphelps@gmail.com</li>
          </ul>
          <ul class="social-icons">
            <li><a href="https://www.linkedin.com/in/steve-phelps-1614192b/"><i class="ion-social-linkedin"></i></a></li>
            <li><a href="https://github.com/79sphelps"><i class="ion-social-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
-->
